{% extends 'base.html.twig' %}

{% block title %}Welcome to Snowtricks{% endblock %}

{% block body %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Snowtricks</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">You know nothing John Snow...</h2>
                </div>
            </div>
        </div>
    </header>
    <!-- Tricks-->
    <section class="projects-section bg-light" id="tricks">
        <div class="container px-4 px-lg-5">
            <h1>Les Tricks</h1>
        </div>
    </section>{% endblock %}
